body{
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}
.answer-fields{
    padding: 1%;
}
.questions{
    text-align: left;
}
.answer-fields-a{
    padding: 1%;
    border-radius: 25px;
    color: rgb(32, 32, 32);
    box-shadow: -3px 3px rgb(17, 124, 97), -2px 2px rgb(17, 124, 97), -1px 1px rgb(17, 124, 97);
    border: 1px solid rgb(17, 124, 97);
    position: relative;
    text-decoration: none;
    background-color: rgb(253, 253, 253);
    width: 100%;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.answer-fields-b{
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgb(253, 253, 253);
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.answer-fields-a:active {
    -webkit-box-shadow: 0px 3px 0px rgb(17, 124, 97), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(17, 124, 97), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(17, 124, 97), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.answer-fields-b:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.container{
    padding : 4%;
}
.container-fluid{
    padding : 2%;
}
.sawad-da-kam{
    padding : 1px;
    border : 2px solid rgb(180, 169, 169);
    box-shadow: #444444;
}
#photo-choose{
    border-radius : 25px;
}
#changeName {
    border-radius: 25px;
    border: 2px solid black;
    width : 250px;
    padding : 0.5%;
  }
#SubmitForm{ 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    border-radius : 25px;
}
#changeEmail{
    border-radius: 25px;
    border: 2px solid black;
    width : 250px;
    padding : 0.5%;
  }
#formName{
    position: absolute;
    display: none;
    visibility:hidden;
}
h1,h2,h3,h4,h5,h6{
    color: #444444;
}
.bg-steel1{
    background-color: #ffffff;
}
.site-header,.nav-bar,.nav-link{
    color: #cbd5db;
}

.site-header,.nav-bar,.nav-link:hover{
    color: #cbd5db;
}

.site-header,.nav-bar,.nav-link:active{
    color: #ffffff;
}
.content-section{
    background: #ffffff;
    padding: 10px 20px;
    border: 5px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.article-title{
    color: #444444;
}
a.article-title:hover{
    color: #485F6E;
    text-decoration: none;
}
.article-img{
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
.article-metadata{
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #333333;
}
.article-metadata a:hover{
    color: #333;
    text-decoration: none;
}
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.account-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.account-heading{
    font-size: 2.5rem;
}
.article-content{
    white-space: pre-line;
}